<div class="card">
<div class="card-header">
<h1>New tweet</h1>
</div>

<div class="card-body">
<%= render "form", tweet: @tweet %>
</div>

</div>
<br/>
<div>
  <%= link_to "Back ", tweets_path ,class:"btn btn-dark btn-sm"%>
</div>
<br/>